@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap");
body {
  min-height: 100vh;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  position: relative;
  align-self: flex-start;
}
.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  left: 0px;
  bottom: -18px;
  background: #FCBB08;
}

.header__top {
  padding-bottom: 29px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__list {
  display: flex;
  gap: 32px;
  padding-top: 7px;
}
.header__link {
  padding: 0 9px 9px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  position: relative;
  transition: all 0.5s;
}
.header__link:hover {
  border-bottom: 1px solid #FCBB08;
}
.header__content {
  background-image: url(/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header__column {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  padding-bottom: 62px;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 94px);
}
.header__title {
  margin-top: auto;
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
  padding-top: 130px;
}
.header__subtitle {
  margin-bottom: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
}

.about {
  background: #F6F8FA;
}
.about__container {
  padding: 150px 0 160px;
}
.about__row {
  display: flex;
  justify-content: space-between;
}
.about__title {
  font-size: 48px;
}
.about__text {
  max-width: 770px;
}
.about__text p:not(:last-child) {
  margin-bottom: 25px;
}

.expertise__container {
  padding: 143px 0 164px;
}
.expertise__title {
  margin-bottom: 89px;
}
.expertise__content {
  display: flex;
  margin-bottom: 110px;
}
.expertise__items {
  margin-right: 30px;
  width: 370px;
  flex: none;
}
.expertise__item {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  border-top: 2px solid #1D1D1D;
  padding: 2px 0 28px;
  position: relative;
}
.expertise__value {
  display: block;
  position: absolute;
  right: 7px;
  top: 0;
}
.expertise__value::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 7px;
  top: -2px;
  background-color: #F0F0F0;
}
.expertise__text p:not(:last-child) {
  margin-bottom: 25px;
}
.expertise__row {
  display: flex;
  gap: 28px;
}
.expertise__column {
  padding-left: 89px;
  position: relative;
}
.expertise__column::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 52px;
  top: 0;
  left: 0;
}
.expertise__column-graph::before {
  background: url(/images/exp_1.svg);
}
.expertise__column-dev::before {
  background: url(/images/exp_2.svg);
}
.expertise__column-mark::before {
  background: url(/images/exp_3.svg);
}
.expertise__name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333333;
  margin-bottom: 14px;
}
.expertise__subname {
  color: #777777;
}

.magic {
  background: #F6F8FA;
  background-image: url(/images/dog.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left 82%;
}
.magic__content {
  padding: 101px 0 180px;
  width: 470px;
  margin-left: auto;
}
.magic__title {
  margin-bottom: 67px;
}
.magic__text p:not(:last-child) {
  margin-bottom: 25px;
}

.portfolio {
  padding: 139px 0 166px;
}
.portfolio__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 122px;
  align-items: center;
}
.portfolio__menu {
  padding-right: 64px;
}
.portfolio__button {
  background-color: transparent;
  border: none;
  padding: 0 4px 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 2px;
  color: #333333;
}
.portfolio__button:not(:last-child) {
  margin-right: 17px;
}
.portfolio__gallery {
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 23px;
       column-gap: 23px;
  margin-bottom: 72px;
}
.portfolio__photo {
  margin-bottom: 23px;
  position: relative;
}
.portfolio__photo img {
  width: 100%;
}
.portfolio__photo:hover .portfolio__show-project {
  opacity: 1;
}
.portfolio__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #242121;
  padding: 42px 15px 41px;
  background: #F6F8FA;
}
.portfolio__blockquote {
  padding: 130px 0 148px;
  max-width: 652px;
  margin: 0 auto;
  font-family: "Merriweather";
  font-style: italic;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
  text-align: center;
}
.portfolio__autor {
  padding-top: 51px;
  display: block;
  font-family: "Merriweather";
  font-style: italic;
  font-size: 14px;
  line-height: 32px;
  color: #9E9E9E;
}
.portfolio__video {
  background-image: url(/images/video.jpg);
  height: 324px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio__row {
  padding-top: 164px;
  display: flex;
  justify-content: space-around;
}
.portfolio__value {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
}
.portfolio__value span {
  padding-top: 9px;
  display: block;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  text-align: center;
}
.portfolio__show-project {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  background-color: #4C4A4A;
  border: 12px solid #7D7C7C;
  opacity: 0;
  transition: all 0.3s;
}

.mixitup-control-active {
  border-bottom: 1px solid #FCBB08;
}

.slider {
  background: #F8F6FA;
}
.slider__content {
  padding: 359px 0 114px;
}
.slider__title {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #242121;
  margin-bottom: 10px;
  max-width: 704px;
}
.slider__text {
  max-width: 560px;
  margin-bottom: 191px;
}

.slick-dots {
  display: flex;
  gap: 13.3px;
}
.slick-dots button {
  background: #242121;
  font-size: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0.4;
  padding: 0;
}

.slick-dots .slick-active button {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  top: 50%;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  transform: translateY(-80%);
}

.slick-prev {
  left: -97px;
}

.slick-next {
  right: -97px;
}

.team__container {
  padding: 120px 0 132px;
}
.team__title {
  margin-bottom: 102px;
}
.team__content {
  display: flex;
  justify-content: space-between;
}
.team__item {
  text-align: center;
}
.team__name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin: 35px 0 12px;
}
.team__post {
  font-size: 12px;
  line-height: 16px;
}

.pricing {
  background: #F6F8FA;
}
.pricing__container {
  padding: 144px 0 162px;
}
.pricing__title {
  margin-bottom: 91px;
}
.pricing__row {
  display: flex;
  justify-content: space-between;
}
.pricing__item {
  width: 370px;
  background-color: #FFFFFF;
  padding: 24px 25px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
}
.pricing__item li:not(:last-child) {
  margin-bottom: 30px;
}
.pricing__item li:first-child {
  margin-bottom: 8px;
}
.pricing__item li:last-child {
  margin-top: 69px;
}
.pricing__item-name {
  font-weight: 700;
  text-align: left;
}
.pricing__item-value {
  font-size: 80px;
  line-height: 109px;
}
.pricing__item-value sup {
  font-size: 40px;
  line-height: 54px;
}
.pricing__item-link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
}

.clients__container {
  padding: 69px 0 95px;
}
.clients__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}