@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap');

body{
    min-height: 100vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 60px;
      line-height: 75px;
      letter-spacing: -1.65px;
      color: #242121;
      position: relative;
      align-self: flex-start;
      &::after{
            content: '';
            position: absolute;
            width: 60px;
            height: 4px;
            left: 0px;
            bottom: -18px;
            background: #FCBB08;
      }
}

.header {

		&__container {
		}

		&__top {
            padding-bottom: 29px;
		}

		&__row {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
		}

		&__logo {
		}

		&__menu {
		}

		&__list {
            display: flex;
            gap: 32px;
            padding-top: 7px;
		}

		&__item {
		}

		&__link {
            padding: 0 9px 9px;
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.6px;
            position: relative;
            transition: all 0.5s;
            &:hover{
                border-bottom: 1px solid #FCBB08; 
            }
		}

		&__content {
            background-image: url(/images/header-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
		}

		&__column {
            font-family: 'Montserrat';
            display: flex;
            flex-direction: column;
            padding-bottom: 62px;
            align-items: center;
            justify-content: space-between;
            min-height: calc(100vh - 94px);
		}

		&__title {
            margin-top: auto;
            font-weight: 500;
            font-size: 72px;
            line-height: 88px;
            color: #FFFFFF;
            padding-top: 130px;
		}

		&__subtitle {
            margin-bottom: auto;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 2.74286px;
            color: #FCBB08;
		}
}

.about {
      background: #F6F8FA;
      &__container {
            padding: 150px 0 160px;
      }

      &__row {
            display: flex;
            justify-content: space-between;
      }

      &__title {
            font-size: 48px;
      }

      &__text {
            max-width: 770px;
            p:not(:last-child){
                  margin-bottom: 25px;
            }
      }
}

.expertise {

      &__container {
            padding: 143px 0 164px;
      }

      &__title {
            margin-bottom: 89px;
      }

      &__content {
            display: flex;
            margin-bottom: 110px;
      }

      &__items {
            margin-right: 30px;
            width: 370px;
            flex: none;
      }

      &__item {
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 1px;
            color: #1D1D1D;
            border-top: 2px solid #1D1D1D;
            padding: 2px 0 28px;
            position: relative;
      }

      &__value {
            display: block;
            position: absolute;
            right: 7px;
            top: 0;
            &::before{
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 2px;
                  left: 7px;
                  top: -2px;
                  background-color: #F0F0F0;
            }
      }

      &__text {
            p:not(:last-child){
                  margin-bottom: 25px;
            }
      }

      &__row {
            display: flex;
            gap: 28px;
      }

      &__column {
            padding-left: 89px;
            position: relative;
            &::before{
                  content: '';
                  position: absolute;
                  width: 50px;
                  height: 52px;
                  top: 0;
                  left: 0;
            }
            &-graph::before{
                  background: url(/images/exp_1.svg);
            }
            &-dev::before{
                  background: url(/images/exp_2.svg);
            }
            &-mark::before{
                  background: url(/images/exp_3.svg);
            }
       }

      &__name {
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 4.29px;
            color: #333333;
            margin-bottom: 14px;
      }

      &__subname{
            color: #777777;
      }
}

.magic {
      background: #F6F8FA;
      background-image: url(/images/dog.jpg);
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: left 82%;
      &__container {
      }

      &__content {
            padding: 101px 0 180px;
            width: 470px;
            margin-left: auto;
      }

      &__title {
            margin-bottom: 67px;
      }

      &__text {
            p:not(:last-child){
                  margin-bottom: 25px;
            }
      }
}

.portfolio {
      padding: 139px 0 166px;
      &__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 122px;
            align-items: center;
      }

      &__title {
      }

      &__menu {
            padding-right: 64px;
      }

      &__button {
      }

      &__gallery {
            column-count: 4;
            column-gap: 23px;
      }

      &__photo {
            margin-bottom: 23px;
            img{
                  width: 100%;
            }
      }

      &__link {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 1.2px;
            color: #242121;
            padding: 42px 15px 41px;    
            background: #F6F8FA;
      }

      &__blockquote {
            padding: 130px 0 148px;
            max-width: 652px;
            margin: 0 auto;
            font-family: 'Merriweather';
            font-style: italic;
            font-size: 18px;
            line-height: 36px;
            color: #242121;
            text-align: center;
      }

      &__autor {
            padding-top: 51px;
            display: block;
            font-family: 'Merriweather';
            font-style: italic;
            font-size: 14px;
            line-height: 32px;
            color: #9E9E9E;
      }

      &__video {
            background-image: url(/images/video.jpg);
            height: 324px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      &__row {
            padding: 164px 0px 166px;
            display: flex;
            justify-content: space-around;
      }

      &__value {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 60px;
            line-height: 73px;
            color: #242121;
            span{
                  padding-top: 9px;
                  display: block;
                  font-family: 'Open Sans';
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 19px;
                  color: #333333;
                  text-align: center;
            }
      }
}


