@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap');

body{
    min-height: 100vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}


.container {
      padding: 0 10px;
      max-width: 1190px;
      margin: 0 auto;
}

.title {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 60px;
      line-height: 75px;
      letter-spacing: -1.65px;
      color: #242121;
      position: relative;
      align-self: flex-start;
      &::after{
            content: '';
            position: absolute;
            width: 60px;
            height: 4px;
            left: 0px;
            bottom: -18px;
            background: #FCBB08;
      }
}

.header {

		&__container {
		}

		&__top {
            padding-bottom: 29px;
		}

		&__row {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
		}

		&__logo {
		}

		&__btn {
                  display: none;
		}

		&__list {
            display: flex;
            gap: 32px;
            padding-top: 7px;
		}

		&__item {
		}

		&__link {
            padding: 0 9px 9px;
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.6px;
            position: relative;
            transition: all 0.5s;
            &:hover{
                border-bottom: 1px solid #FCBB08; 
            }
		}

		&__content {
            background-image: url(/images/header-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
		}

		&__column {
            font-family: 'Montserrat';
            display: flex;
            flex-direction: column;
            padding-bottom: 62px;
            align-items: center;
            justify-content: space-between;
            min-height: calc(100vh - 94px);
		}

		&__title {
            margin-top: auto;
            font-weight: 500;
            font-size: 72px;
            line-height: 88px;
            color: #FFFFFF;
            padding-top: 130px;
		}

		&__subtitle {
            margin-bottom: auto;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 2.74286px;
            color: #FCBB08;
		}
}

.about {
      background: #F6F8FA;
      &__container {
            padding: 150px 10px 160px;
      }

      &__row {
            display: flex;
            justify-content: space-between;
      }

      &__title {
            font-size: 48px;
      }

      &__text {
            max-width: 770px;
            p:not(:last-child){
                  margin-bottom: 25px;
            }
      }
}

.expertise {

      &__container {
            padding: 143px 10px 164px;
      }

      &__title {
            margin-bottom: 89px;
      }

      &__content {
            display: flex;
            margin-bottom: 110px;
      }

      &__items {
            margin-right: 30px;
            width: 370px;
            flex: none;
      }

      &__item {
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 1px;
            color: #1D1D1D;
            border-top: 2px solid #1D1D1D;
            padding: 2px 0 28px;
            position: relative;
      }

      &__value {
            display: block;
            position: absolute;
            right: 7px;
            top: 0;
            &::before{
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 2px;
                  left: 7px;
                  top: -2px;
                  background-color: #F0F0F0;
            }
      }

      &__text {
            p:not(:last-child){
                  margin-bottom: 25px;
            }
      }

      &__row {
            display: flex;
            gap: 28px;
      }

      &__column {
            padding-left: 89px;
            position: relative;
            &::before{
                  content: '';
                  position: absolute;
                  width: 50px;
                  height: 52px;
                  top: 0;
                  left: 0;
            }
            &-graph::before{
                  background: url(/images/exp_1.svg);
            }
            &-dev::before{
                  background: url(/images/exp_2.svg);
            }
            &-mark::before{
                  background: url(/images/exp_3.svg);
            }
       }

      &__name {
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 4.29px;
            color: #333333;
            margin-bottom: 14px;
      }

      &__subname{
            color: #777777;
      }
}

.magic {
      background: #F6F8FA;
      background-image: url(/images/dog.jpg);
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: left 82%;
      &__container {
      }

      &__content {
            padding: 101px 0 180px;
            width: 470px;
            margin-left: auto;
      }

      &__title {
            margin-bottom: 67px;
      }

      &__text {
            p:not(:last-child){
                  margin-bottom: 25px;
            }
      }
}

.portfolio {
      padding: 139px 0 166px;
      &__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 122px;
            align-items: center;
      }

      &__title {
      }

      &__menu {
            padding-right: 64px;
      }

      &__button {
            background-color: transparent;
            border: none;
            padding: 0 4px 5px;
            font-weight: 600;
            font-size: 12px;
            line-height: 24px;
            text-align: right;
            letter-spacing: 2px;
            color: #333333;
            &:not(:last-child){
                  margin-right: 17px;
            }
      }

      &__gallery {
            column-count: 4;
            column-gap: 23px;
            margin-bottom: 72px;
      }

      &__photo {
            margin-bottom: 23px;
            img{
                  width: 100%;
            }
            position: relative;
            &:hover .portfolio__show-project{
                  opacity: 1;
            }
      }

      &__link {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 1.2px;
            color: #242121;
            padding: 42px 15px 41px;    
            background: #F6F8FA;
      }

      &__blockquote {
            padding: 130px 0 148px;
            max-width: 652px;
            margin: 0 auto;
            font-family: 'Merriweather';
            font-style: italic;
            font-size: 18px;
            line-height: 36px;
            color: #242121;
            text-align: center;
      }

      &__autor {
            padding-top: 51px;
            display: block;
            font-family: 'Merriweather';
            font-style: italic;
            font-size: 14px;
            line-height: 32px;
            color: #9E9E9E;
      }

      &__video {
            background-image: url(/images/video.jpg);
            height: 324px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      &__row {
            padding-top: 164px;
            display: flex;
            justify-content: space-around;
      }

      &__value {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 60px;
            line-height: 73px;
            color: #242121;
            span{
                  padding-top: 9px;
                  display: block;
                  font-family: 'Open Sans';
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 19px;
                  color: #333333;
                  text-align: center;
            }
      }

      &__show-project{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 1.4px;
            color: #FFFFFF;
            background-color: #4C4A4A;
            border: 12px solid #7D7C7C;
            opacity: 0;
            transition: all 0.3s;
      }
}

.mixitup-control-active{
      border-bottom: 1px solid #FCBB08;
}

.slider {
      background: #F8F6FA;
      &__container {
      }

      &__content {
            padding: 359px 0 114px;
      }

      &__item {
      }

      &__link {
      }

      &__title {
            display: inline-block;
            font-weight: 700;
            font-size: 36px;
            line-height: 52px;
            color: #242121;
            margin-bottom: 10px;
            max-width: 704px;
      }

      &__text {
            max-width: 560px;
            margin-bottom: 191px;
      }
}

.slick-dots{
      display: flex;
      gap: 13.3px;
      button{
            background: #242121;
            font-size: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            opacity: 0.4;
            padding: 0;
      }
}

.slick-dots .slick-active{
      button{
            width: 10px;
            height: 10px;
            // border-radius: 50%;
            opacity: 1;
      }

}

.slick-arrow{
      position: absolute;
      top: 50%;
}

.slick-prev,
.slick-next{
      background-color: transparent;
      transform: translateY(-80%);
}

.slick-prev{
      left: -97px;
}

.slick-next{
      right: -97px;
}

.team {

      &__container {
            padding: 120px 10 132px;
      }

      &__title {
            margin-bottom: 102px;
      }

      &__content {
            display: flex;
            justify-content: space-between;
      }

      &__item {
            text-align: center;
      }

      &__name {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
            margin: 35px 0 12px;
      }

      &__post {
            font-size: 12px;
            line-height: 16px;
      }
}

.pricing {
      background: #F6F8FA;
      &__container {
            padding: 144px 10px 162px;
      }

      &__title {
            margin-bottom: 91px;
      }

      &__row {
            display: flex;
            justify-content: space-between;
      }

      &__item {
            width: 370px;
            background-color: #FFFFFF;
            padding: 24px 25px;
            text-align: center;
            font-size: 16px;
            line-height: 22px;
            color: #242121;
            li:not(:last-child){
                  margin-bottom: 30px;
            }
            li:first-child{
                  margin-bottom: 8px;
            }
            li:last-child{
                  margin-top: 69px;
            }
      }

      &__item-name {
            font-weight: 700;
            text-align: left;
            
      }

      &__item-value {
            font-size: 80px;
            line-height: 109px;
            sup{
                  font-size: 40px;
                  line-height: 54px;
            }
      }

      &__item-link {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1.2px;
      }
}

.clients {

      &__container {
            padding: 69px 10px 95px;
      }

      &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
}

.connection {
      background-image: url(/images/map.jpg);
      background-repeat: no-repeat;
      background-size: 40%;
      background-position: right 62%;

      &_textarea {
            display: block;
            width: 100%;
            &::placeholder{
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 20px;
                  letter-spacing: 3.70909px;
                  color: #B8B8B8;
            }
            margin: 53px 0 40px;
            padding-bottom: 136px;
            border-bottom: 2px solid #373A39;
            resize: none;
      }

      &__container {
            padding: 145px 10px 162px;
      }

      &__title {
            margin-bottom: 94px;
      }

      &__form {
            max-width: 569px;
      }

      &__input {
            display: block;
            width: 100%;
            border-bottom: 2px solid #373A39;
            &::placeholder{
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 20px;
                  letter-spacing: 3.70909px;
                  color: #B8B8B8;
            }
            padding-bottom: 16px;
            &:first-child{
                  margin-bottom: 32px;
            }
      }

      &__button {
            display: block;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 2px;
            color: #FFFFFF;
            background: #242121;
            padding: 16px 70px;
      }
}

.footer {
      background: #333333;
      &__container {
            text-align: center;
            padding: 110px 10px 60px;
      }

      &__logo {
            display: inline-block;
            padding: 0 35px 4px;
            border-bottom: 2px solid #FCBB08;
            margin-bottom: 73px;
      }

      &__row {
            display: flex;
            justify-content: center;
            gap: 28px;
            margin-bottom: 65px;
      }

      &__item {
      }

      &__link {
            font-family: 'Montserrat';
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 4px;
            color: #FFFFFF;
      }

      &__address {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 32px;
            color: #FFFFFF;
      }

      &__tel {
            display: inline-block;
            font-weight: 400;
            font-size: 14px;
            line-height: 32px;
            color: #FFFFFF;
      }

      &__mail {
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 32px;
            color: #FFFFFF;
            margin-bottom: 57px;
      }

      &__arrow {
            display: block;
      }

      &__cop {
            padding: 43px 0 41px;
            background: #2A2C2B;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #CCCCCC;
      }
}

@media (max-width: 1440px){
      .magic{
            &__content{
                  padding: 50px 0;
            }
      }
      .slider{
            &__content {
                  padding-left: 60px;
            }
      }
      .slick-prev{
            left: 0;
      }
      
      .slick-next{
            right: 0;
      }
}

@media (max-width: 1200px){
      .title{
            font-size: 48px;
      }
      .about{
            &__container{
                  padding: 75px 10px;
            }
            &__row{
                  display: block;
            }
            &__title{
                  margin-bottom: 50px;
            }
            &__text{
                  max-width: 100%;
            }
      }
      .expertise{
            &__container{
                  padding: 75px 10px;
            }
      }
      .portfolio {
            padding: 75px 10px;
            &__gallery {
                  column-count: 3;
            }
            &__menu {
                  padding-right: 0;
            }
      }
      .slider{
            &__content {
                  padding-top: 120px;
                  padding-bottom: 75px;
            }
            &__text{
                  margin-bottom: 100px;
            }
      }
}

@media (max-width: 992px){
      .expertise{
            &__content{
                  display: block;
            }
            &__items{
                  width: 100%;
            }
            &__title{
                  margin-bottom: 50px;
            }
            &__content{
                  margin-bottom: 50px;
            }
            &__row{
                  display: block;
            }
            &__column{
                  &:not(:last-child){
                        margin-bottom: 30px;
                  }
            }
      }
      .magic{
            background-image: none;
            &__content{
                  width: 100%;
                  margin-left: 0;
            }
            &__title{
                  margin-bottom: 50px;
            }
      }
      .portfolio {
            &__top {
                  display: block;
                  margin-bottom: 40px;
            }
            &__title {
                  margin-bottom: 50px;
            }
            &__blockquote {
                  padding: 75px 0 75px;
            }
            &__row {
                  padding-top: 75px;
            }
      }
}

@media (max-width: 768px){
      .title{
            font-size: 28px;
            line-height: 50px;
      }
      .header{
            &__row{
                  padding: 0 15px;
            }
            &__list{
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: -200%;
                  display: block;
                  text-align: center;
                  background-color: #373A39;
                  color: #fff;
                  padding: 20px 0;
                  // transition: all 0.5s ease;
                  &--active{
                        padding-top: 90px;
                        top: 0px;
                  }
            }
            &__item{
                  &:not(:last-child){
                        margin-bottom: 20px;
                  }
            }
            &__title{
                  font-size: 50px;
                  line-height: 60px;
            }
            &__logo{
                  position: relative;
                  z-index: 2;
            
                  &--active{
                        path{
                              fill: white;
                        }
                  }
            }
            &__btn{
                  display: block;
                  margin-bottom: 15px;
                  position: relative;
                  z-index: 2;
                  
                  &--active{
                        
                        path, rect{
                              fill: white;
                        }
                  }
            }
      }
      .about, .expertise{
            &__container{
                  padding: 45px 10px;
            }
      }
      .portfolio {
            &__button{
                  display: block;
                  &:not(:last-child){
                        margin-bottom: 20px;
                  }
            }
            &__gallery {
                  column-count: 2;
            }
            &__row{
                  flex-wrap: wrap;
            }
            &__value{
                  text-align: center;
                  width: 50%;
                  margin-bottom: 30px;
            }
      }
      .slider{
            &__content {
                  padding-left: 0px;
            }
            &__title{
                  font-size: 25px;
                  line-height: 40px;
            }
            &__text{
                  margin-bottom: 50px;
            }
      }
}

@media (max-width: 440px){
      .title{
            font-size: 28px;
      }
      .header{
            &__title{
                  font-size: 40px;
                  line-height: 50px
            }
            &__subtitle{
                  font-size: 12px;
                  line-height: 15px;
            }
      }
      .portfolio{
            &__gallery {
                  column-count: 1;
            }
            &__value{
                  width: 100%;
            }
      }
}

@media (max-width: 340px){
      .expertise{
            &__column{
                  padding-left: 0px;
                  padding-top: 60px;
            }
      }
}